<% render_main_sidebar_menu; render_content_header_breadcrumb %>

<div class="col-md-12">
  <div class="box">

    <%= simple_form_for([:admin, @parent, @object], html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |form| %>
        <%= render partial: 'cdx/admin/taxons/form', locals: { f: form } %>
    <% end %>

  </div>
</div>
