.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
/.byebug_history
/spec/dummy/public/assets
/spec/dummy/.byebug_history
/coverage
/spec/dummy/public/cdx
