<!DOCTYPE html>
<html>
<head>
  <title>Cdx</title>
  <%= stylesheet_link_tag    "cdx/application", media: "all" %>
  <%= javascript_include_tag "cdx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
