<div class="pull-right">
  <% if f.object.published? %>
      <%= f.submit t('admin.actions.unpublish'), name: :unpublish, class: 'btn btn-default' unless f.object.draft? %>
      <%= f.submit nil, class: 'btn btn-info' %>
  <% else %>
      <%= f.submit nil, class: 'btn btn-default' %>
      <%= f.submit t('admin.actions.publish'), name: :publish, class: 'btn btn-info' %>
  <% end %>
</div>